mkdocs~=1.6
mkdocs-material==9.5.44
mkdocs-material-extensions~=1.3
mdx_gh_links==0.4
mdx_include==1.4.2
mdx_include==1.4.2
mkdocs-markdownextradata-plugin==0.2.5
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-redirects==1.2.1
mkdocs-htmlproofer-plugin==1.2.1
mkdocs-minify-plugin==0.8.0
# This dependency is necessary for older mkdocs versions.
# TODO: Remove when upgrading mkdocs.
jinja2~=3.0
