on:
  workflow_dispatch:
  workflow_call:
  repository_dispatch:
    types: [ update-release-command ]

permissions:
  contents: write
  pull-requests: write

name: Prepare release

jobs:
  prepare-release:
    if: |
      ${{ github.repository == vars.CURRENT_REPO }} &&
      ${{ (github.triggering_actor == 'carlspring' || github.triggering_actor == 'steve-todorov') == true }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'master'
          fetch-depth: 1

      - uses: actions/setup-node@v3

      - name: Install release-please
        run: npm install -g release-please

      - name: Release
        run: |
          release-please --token=${{ secrets.GITHUB_TOKEN }} --repo-url=${{ vars.CURRENT_REPO }} release-pr --release-type simple --pull-request-title-pattern "Release v\${version}" --extra-files gradle.properties,docs/mkdocs.yaml,docs/mkdocs.yml --changelog-sections feat,fix,docs,deprecated,removed,deps,chore,build
